*{
    font-family:sans-serif;
}
#details {
    font-family: sans-serif;
}
#map {
	position:relative;
	top:50px;
	margin-right:5px;
	margin-bottom:10px;
    height: 92%;
    min-width:0;
}
#controlPanel {
    float: left;
    height: 97%;
    width: 20%;
    padding-right: 15px;
}
body {
    background-color: #031634;
}
div.tabs {
	min-width:200px;
	margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
    min-height: 97%;
    position: relative;
    line-height: 1;
    z-index: 0;
    display:block;
}
div.tabs > div {
float:left;
}
div.tabs > div > a {
	z-index:0;
	margin-left:5px;
	color:#E8DDCB;
    background: #033649;
    text-decoration: none;
    padding: 0.4em;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
}
div.tabs > div > a:hover {
    color: #CDB380;
}
/* unselected tab header */

div.tabs > div:not(:target) > a {
    border-bottom: none;
    background: #036564;
}
div.tabs > div:target > a,
:target #default2 > a {
   /* border-bottom: 0.1em solid #6699ff;*/
    background: #033649;
}
div.tabs > div > div {
	color:#E8DDCB;
    background: #033649;
    z-index: 1;
    left: 0;
    top: 1.2em;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 1em;
}
div.tabs > div:not(:target) > div {
    position: absolute
}
div.tabs > div:target > div,
:target #default2 > div {
    position: absolute;
    z-index: 2;
}
div.tabs:target {
    outline: none
}
