*{
    font-family:sans-serif;
}
#details {
    font-family: sans-serif;
}
#map {
    height: 100%;
    width: 100% float: left;
}
#controlPanel {
    float: left;
    height: 100%;
    width: 20%;
    padding-right: 17px;
}
body {
    background-color: #031634;
}
div.tabs {
    min-height: 100%;
    position: relative;
    line-height: 1;
    z-index: 0;
}
div.tabs > div {
    display: inline-block;
}
div.tabs > div > a {
	color:#E8DDCB;
    background: #033649;
    text-decoration: none;
    padding: 0.2em;
    border-top-left-radius:10%;
    border-top-right-radius:10%;
}
div.tabs > div > a:hover {
    color: #CDB380;
}
/* unselected tab header */

div.tabs > div:not(:target) > a {
    border-bottom: none;
    background: #036564;
}
div.tabs > div:target > a,
:target #default2 > a {
   /* border-bottom: 0.1em solid #6699ff;*/
    background: #033649;
}
div.tabs > div > div {
	color:#E8DDCB;
    background: #033649;
    z-index: -2;
    left: 0;
    top: 1.2em;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 0.3em;
}
div.tabs > div:not(:target) > div {
    position: absolute
}
div.tabs > div:target > div,
:target #default2 > div {
    position: absolute;
    z-index: -1
}
div.tabs:target {
    outline: none
}
#map{
	top:1.2em;
	z-index: -2;
	bottom: 0;
	overflow: auto;
	height:95%;
}